.row
{
    margin: 0;
}

body
{
    background: url('../img/font.png') fixed top left;
    font-size: 19px;
    font-family: "Pacifico";
}

header
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav
{
    display:block;
    padding: 20px;
}

h1, h2, h3
{
    text-align:center;
    padding: 20px;
}

h1
{
    text-shadow: -1px 1px 0 #fdfbfb, 1px 1px 0 #fff, 1px -1px 0 #f7f7f7,-1px -1px 0 #fbfbfb;
    font-size: 5rem;
}

.alert-danger, .alert-success
{
    border-radius: .3rem;
    width: 80%;
    text-align: center;
    margin: auto;
}

.card
{
    border: 2px solid white;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    display:block;
}

.card-title
{
    background-color:#12a3ac;
    border-radius: 15px 15px 0 0;
    color: white;
    font-size: 2rem;
    margin-bottom: 0px;
}

.fadeout
{
    position: relative; 
    margin-top: -4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

#comments, #addComment
{
    width: 70%;
}

#comment
{
    border-bottom: 1px solid #b1a3a3;
    margin-bottom: 20px;
}

#flag
{
    color: red;
}

h2 a
{
    color: white;
}

.prettyInput
{
    margin: 20px;
    width: 80%;
    border: 1px solid #b1a3a3;
    border-radius: 15px; 
    text-align: left;
    padding: 10px;
}

form.card
{
    padding: 20px;
    width: 80%;
}

#update, a:hover
{
    color: black;
    text-decoration: none;
}

.actions
{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

a.modify
{
    width: 100%;
    margin-bottom: 10px;
}

footer
{
    margin-left: 20px;
}

table
{
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
}

tr
{
    border-bottom: 1px solid black;
}

th, td
{
    border: none;
    height: 30px;
    padding: 10px;
}

tr:hover
{
    background: #F5F5F5;
}

.input-group
{
    margin: 10px 0px 10px 0px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.input-group label
{
    display: block;
    text-align: left;
    margin: 3px;
}

.messageStyle
{
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}
