body
{
    background: url('../img/font.png') fixed top left;
    font-size: 19px;
    font-family: "Pacifico";
}

header
{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, h2, h3
{
    text-align:center;
    padding: 20px;
}

h1
{
    margin: auto;
    font-size: 3rem;
}

#news, #comments
{
    border: 2px solid white;
    border-radius: 15px;
}

#comments
{
    margin: auto;
    justify-content:center;
    padding: 0;
}

.card-title
{
    background-color:#12a3ac;
    border-radius:15px 15px 0 0;
    color: white;
    font-size: 1.5em;
}

#article
{
    text-align: center;
}

h2 a
{
    color: white;
}

nav .nav
{
    display: flex;
    justify-content: center;
}

nav a
{
    color:white;
}

a:hover
{
    color: black;
    text-decoration: none;
}

#copyright
{
    margin-left: 20px;
}



/*CRUD*/

table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #1f1919;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: #F5F5F5;
}

form {
    
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}

.input-group {
    margin: 10px 0px 10px 0px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.edit_btn {
    text-decoration: none;
    box-shadow: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 5px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
     
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    
    width: 50%;
    text-align: center;
}